*{
box-sizing: border-box;
margin: 0px;
padding: 0px;
}
body{
    background-color: rgb(91, 234, 113);
}
.barra-busqueda{
  max-width: 100%;
  height: 70px;  
  border-radius: 5px;
  align-self: center;
background-color: rgb(251, 98, 98);
}
.h1{
    font-size: 38px;
    text-shadow: 1px 1px 3px blue;
    font-weight: 970;
}
.p-index{
    margin-top: 46px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div img{
    margin-top: 30px;
    margin-left: 20px;
max-width: 80%;
height: 40%;
border-radius: 15px;
}
.div-externo{
    padding: 10px;
    width: 150px;
    height: 320px;
    margin-right: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(191, 82, 82, 0.875);
    margin-top: 50px;
    background-color: aliceblue;
}
.div-interno{
    justify-content: center;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.739);
    height: 100%;
    background-color: rgb(189, 179, 179);
    text-align: center;

}
.contenedor{
    justify-content: center;
    background-image: url(../documents/fondo-verduras.jpg);
    width: 100%;
    overflow-x:hidden
}
p span{
    color: red;
    font-size: 0.8rem;
}
 div p{
    margin-top: 5px;
    font-size: 1.2rem;
 }
 div button{
    background-color: rgba(73, 73, 245, 0.801);
    border-radius: 4px;
 }
 div button:hover{
    transform: scale(1.05, 1.05 );
    transition-duration: 700ms;
 }
 div button:active{
    transform: scale(1.06, 1.06 );
    transition-duration: 0ms;
    background-color: rgb(41, 41, 250);
 }
 .contenedor-1{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20%, 20% ,20%, 20% ,20%;
    justify-content: center;
}
section h2{
    margin-top: 0px;
    color: beige;
    background-color: rgb(86, 143, 0);
}
#carrito-compras{
    margin-left: 680px;
    margin-top: 9px;
    font-size: 1.9rem;
}


.img-añadidas-carrito{
    margin-right: 50px;
    
} 
.carrito-lista{
    width: 100%;
    height: 400px;
    background-color: rgb(241, 223, 199);
    border: solid black 3px;
    overflow: auto;
  
}
.carrito-lista-producto{
    width: 99%;
    height: 150px;
    border: solid black 2px;
    background-color: blueviolet;
}
.carrito-lista-producto div img{
    margin-left: 40px;
    margin-top: 10px;
width: 120px;
height: 120px;
}
.botones{
    width: 100%;
    height: 40px;
    background-color: rgb(91, 234, 113);
}
.span-precio{
font-size: 1.3rem;
font-weight: 1000;
}